.minButton{
    color:black; 
    height:100%;
    border-right:1px solid blue;
    border-left:1px solid blue;
    padding-left:5px;
    padding-right:5px;
}
.minButton>img{
    height:100%;
}
.minButton:hover{
    background: rgb(178,225,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(178,225,255,1) 0%, rgba(102,182,252,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(178,225,255,1)), color-stop(100%,rgba(102,182,252,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=0 ); /* IE6-9 */
}
.folderIcon{
	display:block;
	width:4%
}
.folderIcon>a>div{
	width:100%;
	font-size:12px;
}
.folderIcon>a>img{
	width : 100%;
}

.windowObject{
    border:1px solid silver;
}
.windowHeader{
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    position:relative;
    width:100%;
    height:7%;
	opacity: 0.7;
    cursor:pointer !important;
}
.fullScreen{
	position:fixed;
	top:0px !important;
	left:0px !important;
	width:100%;
	height:95%;
	z-index:100;
}
.normalWindow{
	position:absolute;
	height: 300px;
    width:500px;
    max-width:90;
    max-height:90%;
    min-width:500px;
    min-height:300px;
	z-index:1;
}
.selected{
	z-index:101;
}
.windowContent{
    position:relative;
	background:white;
    width:100%;
    
	opacity: 1;
}
.leftMenu{
   border-right:1px solid silver;
}
.mainContent{
   opacity: 1;
}
.fullScreenButton{
    display:block;
    background-image: url('../images/icons/full-screen.png');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    height:15px;
    width:15px;
}
.m5{
    margin:5px;
}
.minimize{
    display:block;
    width:15px;
    height:15px;
}
.close{
    display:block;
    width:15px;
    height:15px;
}